<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Métodos de pago</h1>
    </div>
  </div>
  <div class="row"></div>
</div>

<div class="card-payment">
  <app-card-payment-method
    (optionSelected)="handleOptionSelected($event)"
  ></app-card-payment-method>
</div>

<div *ngIf="isOption === 'debit'" class="card-form">
  <app-card-form
    [type]="'Debito'"
    (formValid)="handleFormValid($event)"
  ></app-card-form>
</div>
<div *ngIf="isOption === 'credit'" class="card-form">
  <app-card-form
    [type]="'Credito'"
    (formValid)="handleFormValid($event)"
  ></app-card-form>
</div>

<div class="d-flex flex-row justify-content-center buttons">
  <button
    [ngClass]="
      isOption === 'cash' ||
      (formValid && (isOption === 'debit' || isOption === 'credit'))
        ? 'eneable'
        : 'disable'
    "
    class="btn-next"
    (click)="goNext()"
  >
    SIGUIENTE
  </button>
  <button class="btn-cancel" (click)="goBack()">CANCELAR</button>
</div>
