<div class="card">
  <div class="d-flex flex-column">
    <div class="card-intern">
      <h1>Detalle de envio</h1>
      <p>
        <img src="../../../../assets/environment_outline.png" alt="" />
        <span>Ubicacion de Retiro:</span> calle falsa 123, CP:5000, Córdoba,
        Argentina
      </p>
      <p>
        <img src="../../../../assets/environment_fill.png" alt="" />
        <span>Ubicación entrega:</span> calle falsa 123, CP:5000, Córdoba,
        Argentina
      </p>
      <p>
        <img src="../../../../assets/clock-circle_outline.png" alt="" /><span
          >Retiro:</span
        >
        30/04/2024 - 15.30hs.
      </p>
      <p>
        <img src="../../../../assets/clock-circle_fill.png" alt="" /><span
          >Entrega:</span
        >
        30/04/2024 - 15.30hs.
      </p>
      <p>
        <img
          src="../../../../assets/chofer icono 2.png"
          alt=""
          class="chofer"
        /><span>{{ infoCard.nombre }}</span>
      </p>
    </div>

    <!-- targeta -->
    <div *ngIf="infoCard.formaPago != 'efectivo'" class="pago">
      <h4>Detalle del pago #29377aBE</h4>
      <div class="pago-detalle">
        <h6><span class="bold">Total:</span> ${{ infoCard.precio }}</h6>
        <img src="../../../../assets/Tarjeta.png" alt="" class="img" />
        <span>Targeta</span>
      </div>
    </div>

    <!-- efectivo -->
    <div *ngIf="infoCard.formaPago === 'efectivo'" class="pago">
      <h4>Detalle del pago</h4>
      <div class="pago-detalle">
        <h6><span class="bold">Total:</span> ${{ infoCard.precio }}</h6>
        <img src="../../../../assets/Efectivo (1).png" alt="" class="img" />
        <span>Efectivo</span>
      </div>
    </div>
  </div>
</div>
