app-card {
  margin-top: 30px;
}
button {
  margin-top: 20px;
  height: 56px;
  width: 174px;
  border-radius: 30px;
  background-color: #20388f;
  color: white;
  font-size: 27px;
}

body {
  height: 100vh;
}

h1 {
  margin-left: 15px;
}
